<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('categories')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div th:replace="layout :: admin-nav"></div>

<div class="container">

    <h1>Administradores</h1>

    <form th:action="${action}" method="post">
        <div id="integrantes-table">
            <div class="integrante-row header">
                <div class="integrante-cell">Nombre</div>
                <div class="integrante-cell smaller">Delete</div>
                <div class="integrante-cell smaller">Edit</div>
            </div>
            <div th:each="administrador : ${administradores}" class="integrante-row">
                <div th:text="${administrador.username}" class="integrante-cell">Jose</div>
                <div class="integrante-cell center-cell">
                    <button th:value="${administrador.username}" class="delete-integrante-button" th:style="${class}" type="submit" name="submit">
                        <i class="material-icons" th:text="${buttonDelete}">delete</i>
                    </button>
                </div>
                <div class="integrante-cell smaller">
                    <a th:href="@{|/admin/editar/${administrador.id}|}" class="button edit-button" th:style="${class}" >
                        <i class="material-icons" th:text="${buttonEdit}">update</i>
                    </a>
                </div>
            </div>
        </div>
    </form>

</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>