<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Integrante')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>

<div class="container form-container">

    <form th:action="${action}" method="post" class="clearfix settings" th:object="${administrador}">
        <h1 th:text="${heading}"></h1>

        <fieldset class="left settings">
            <label class="settings" for="user">User: <span class="field-error" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></span></label>
            <input class="settings" th:classappend="${#fields.hasErrors('user')} ? 'field-error' : ''" type="text" id="user" name="user" th:field="*{user}"/>
        </fieldset>

        <fieldset class="right settings">
            <label class="settings" for="password">Password: <span class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></label>
            <input class="settings" th:classappend="${#fields.hasErrors('password')} ? 'field-error' : ''" type="password" id="password" name="password" th:field="*{password}"/>

            <input class="btn inln default settings" type="submit" th:value="${submit}"/>
            <input class="btn inln error settings" type="reset" value="Reiniciar"/>
        </fieldset>
    </form>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>