<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('Admin')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div th:replace="layout :: admin-nav"></div>

<div class="container">
    <h2 class="settings-section">Administrar Integrantes</h2>

    <div class="settings-container clearfix">
        <div class="left-setting"><a class="hover-animated-button" href="/admin/agregar-integrante">Ingresar</a></div>
        <div class="right-setting"><a class="hover-animated-button" href="/admin/editar-integrante">Modificar</a></div>
        <div class="left-setting"><a class="hover-animated-button" href="/admin/borrar-integrante">Eliminar</a></div>
    </div>
</div>

<div class="container">
    <h2 class="settings-section">Administrar usuarios</h2>

    <div class="settings-container clearfix">
        <div class="left-setting"><a class="hover-animated-button" href="/admin/agregar-admin">Ingresar</a></div>
        <div class="right-setting"><a class="hover-animated-button" href="/admin/edit-admins">Modificar</a></div>
    </div>
</div>


<div class="container">
    <h2 class="settings-section">Administrar plataforma</h2>

    <div class="settings-container clearfix">
        <div class="higher-setting left-setting"><a class="hover-animated-button" th:href="@{/admin/extractor}">Modificar horario de extracción</a></div>
        <div class="higher-setting right-setting" th:classappend="${extractorState ? 'extractor-active' : 'extractor-disabled'}" style="display: table;">
            <p style="display: table-cell; vertical-align: middle;">Horario de extracción: <span th:text="|${hours}h${minutes}|"></span></p>
        </div>
    </div>
</div>

<div th:replace="layout :: scripts"></div>
</body>
</html>