@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/* Base styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'varela round', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a.button {
    /*-webkit-appearance: button;*/
    /*-moz-appearance: button;*/
    /*appearance: button;*/

    text-decoration: none;
    color: initial;
}

/* Base layout */

.brand-logo {
    margin: 0;
}

.brand-logo a,
.navbar a {
    display: block;
    text-align: center;
    padding: 14px 15px;
}

.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Search bar */
.search-bar {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 10px 5px;
    background-color: rgba(0,0,0,.05);
    box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
}

.search-bar input {
    /*width: 80%;*/
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: 0;
}

.input-field input {
    width: 90%;
}

.search-bar i {
    float: right;
    color: rgb(55, 71, 79);
}

.search-bar i:hover {
    cursor: pointer;
}

.search-not-found img {
    display: block;
    width: 100%;
    padding: 0 10% 0 10%;
}

.search-not-found p {
    font-size: 5vw;
    margin: 15px 0;
    text-align: center;
}

/* Base styles */
.right {
    float: right;
}

.left {
    float: left;
}

.brand-logo,
.navbar {
    color: white;
    font-weight: normal;
}

.navbar {
    margin-top: 0;
    margin-bottom: 10px;
}

.brand-logo span {
    color: rgb(84, 110, 122);
}

.navbar a,
.brand-logo a {
    color: white;
}

.navbar a:hover {
    color: rgb(84, 110, 122);
}

.summoner-card {
    background-color: #f2f2f2;
    padding: 20px 1em;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.5),
    inset 1px 1px 1px rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.basic-info,
.ranked-info {
    display: inline-block;
    width: 100%;
}

.basic-info h1 {
    margin-top: 0;
}

.basic-info img {
    float: left;
    margin-right: 30px;
    border: 3px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    max-width: 134px;
}

.basic-info .profile-icon {
    min-width: 80px;
    width: 20%;
}

.basic-info h1 {
    font-size: 4vw;
}

.basic-info P {
    font-size: 2vw;
}

.ranked-info {
    text-align: center;
    margin-top: 15px;
}

.ranked-info .wins, .profile-info .wins {
    color: forestgreen;
    font-weight: bold;
}

.ranked-info .losses, .profile-info .losses {
    color: firebrick;
    font-weight: bold;
}

.summoner-card:hover {
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,.5),
    inset 1px 1px 1px rgba(0,0,0,.1);
}

img.member-logo {
    width: 30px;
    border: none;
    box-shadow: none;
}

/* layout containers */

.container {
    width: 90%;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
    background-color: rgb(55, 71, 79);
    display: inline-block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
}

/* Settings page */
.settings-section {
    border-bottom: 2px solid black;
    border-radius: 1px;
    padding-bottom: 5px;
}

.left-setting,
.right-setting {
    /* display: block; */
    width: 49%;
    height: 65px;
    border-radius: 4px;
    background-color: #e5e5e5;
    margin-bottom: 20px;
    text-align: center;
    display: table;
}

.hover-animated-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    border-radius: 4px;
}

.hover-animated-button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.hover-animated-button:hover {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.left-setting a,
.right-setting a {
    color: black;
}

.left-setting {
    float: left;
}

.right-setting {
    float: right;
}

.left-setting a,
.right-setting a {
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 2px;
}

.form-container {
    color: #384047;
}

form.settings {
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

input.settings {

    font-size: 1em;
    width: 100%;
    margin-bottom: 1.2em;
}

input[type="text"].settings,
input[type="password"].settings,
textarea.settings,
select.settings {
    background: rgba(255,255,255,0.1);
    border: none;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
}

/* input[type="text"] {
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
} */

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

.btn {
    font-size: 1em;
    color: #222;
    font-weight: 300;
    width: 100%;
    border: none;
    height: auto;
    padding: 15px;
    outline: 0;
    margin-bottom: 1.2em;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0, 0.05);
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

fieldset.settings {
    margin-bottom: 30px;
    border: none;
    width: 100%;
}

label.settings {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.btn {
    cursor: pointer;
    font-size: .875em;
    font-weight: 400;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.btn:hover {
    opacity: .75;
}

.default {
    background-color: #52bab3;
}

.error {
    background-color: #ff784f;
}

span.field-error {
    color: firebrick;
}

input[type="text"].field-error {
    border: 1px solid firebrick;
    border-bottom: 3px solid firebrick;
}

.delete-integrante-button {
    padding: 0;
    padding-top: 5px;
    background-color: firebrick;
    border: none;
    display: inline-block;
    width: 80%;
    margin: 0;
}

div.integrante-row:nth-child(odd) {
    background-color: #dddddd;
}

#integrantes-table {
    display: table;
    width: 100%;
}

div.integrante-row {
    display: table-row;
}

div.integrante-cell {
    display: table-cell;
    padding: 8px 5px;
    border-left: 1px solid #ccc;
}

div.integrante-cell:last-child {
    border-right: 1px solid #ccc;
    text-align: center;
}

.center-cell {
    text-align: center;
}

div.header {
    font-weight: bold;
    background-color: #ccc;
}

.edit-button {
    padding: 0;
    padding-top: 5px;
    background-color: #3D9C35;
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 80%;
    margin: 0;
}

i {
    color: #fff;
}

/* Authentication styles */

#logged-user {
    margin-left: 5px;
}

.logout-form {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#logout-button {
    width: 50px;
    padding: 0;
    margin: 0;
    float: right;
    background-color: #B22222;
    border: 1px solid #8e1b1b;
    padding-top: 4px;
    margin-left: 9px;
}

#home-button {
    width: 50px;
    padding: 0;
    margin: 0;
    float: right;
    background-color: #3D9C35;
    border: 1px solid #307c2a;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
}

#log-in-user {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* Leaderboard styles */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.leaderboard-title {
    font-size: .8em;
}

.dropdown p {
    margin: 0;
    padding: 5px 0 5px 0;
}

.drop-button {
    color: black;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    float: right;
    width: 100%;
    background: rgba(100,100,100,.1);
}

.drop-button p {
    margin: 0;
    width: 80%;
    text-align: left;
    padding: 0 0 5px 0;
}

.drop-button i {
    padding: 5px 0 0 0;
    color: #000;
}

.drop-button:hover, .drop-button:focus {
    background-color: rgba(100,100,100,.2);
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-list a:hover {background-color: #ddd}

.show {display:block;}

.dropdown-controls {

}

.dropdown-controls p {
    display: inline-block;
}

/* Profile info */
.profile-container {
    width: 90%;
    margin: 0 auto;
}

#profile-image {
    border: 3px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    width: 35%;
    max-width: 225px;
    float: left;
}

#profile-name {
    font-size: 4vw;
}

#profile-level {
    font-size: 3vw;
}

#profile-name, #profile-level {
    width: 60%;
    display: inline-block;
    padding: 0 0 0 10px;
}

#solo-ranked-container, #flex-ranked-container {
    text-align: center;
    clear: both;
}

.profile-info h1 {
    margin: 5px 0 10px 0;
}

.profile-matches {
    padding: 20px 0;
}

.profile-matches-title {
    text-align: center;
    display: block;
    width: 100%;
}

.profile-matches h1 {
    font-size: 1.4em;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    display: inline-block;
}

#lanesGraphContainer {
    width: 80%;
    margin: 20px auto;
}

#lanesGraphContainer div {
    background-color: rgba(169,169,169,.1);
    padding: 10px 20px;
    border-radius: 40px;
    margin-bottom: 30px;
}

#lanesGraphContainer div h3 {
    border-bottom: 1px solid rgba(0,0,0,.5);
}

#levelHistoryContainer {
    height: 50vh;
}

.match-details-container {
    background-color: rgba(155,155,155,.2);
    padding: 8px 4px;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.5)
}

.match-details-container p {
    display: inline-block;
    margin: 0;
}

.match-basic-data {
    border-bottom: 1px solid rgba(100,100,100,.3);
    margin-bottom: 6px;
    font-size: 0.5em;
    width: 100%;
}

.match-basic-data p {
    width: 40%;
    display: inline-block;
}

.match-basic-data p:last-child {
    text-align: right;
    float: right;
}

.summoner-second-row {
    display: table;
    width: 100%;
    border-bottom: 1px solid rgba(100,100,100,.6);
}

.summoner-champion {
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.champion-icon {
    width: 70%;
    float: left;
    margin-bottom: 4px;
    border-radius: 5px;
    padding-right: 10px;
}

.s-spell-1, .s-spell-2 {
    vertical-align: middle;
    border-radius: 50%;
    padding-right: 2px;
    width: 30%;
    float: right;
}

.s-spell-2 {
    padding-left: 2px;
    margin-top: 5px;
}

.summoner-kda {
    width: 30%;
    font-size: 3vw;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.summoner-kda p {
    display: block;
}

.summoner-items {
    width: 45%;
    display: table-cell;
    vertical-align: middle;
}

.summoner-items img {
    width: 20%;
}

.match-teams, .match-stats {
    display: none;
}

.mobile-third-row {
    display: table;
    width: 100%;
    margin-top: 13px;
}

.mobile-match-stats, .mobile-match-teams {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
}

.mobile-match-stats {
    text-align: center;
    font-size: 3.5vw;
}

.mobile-match-teams {
    width: 60%;
    font-size: 0.7em;
}

.mobile-match-teams tbody tr td:nth-child(even) {
    width: 40%;
    font-size: 1.8vw;
}

.mobile-match-teams tbody tr td:nth-child(odd) {
    width: 10%;
    min-width: 15px;
}

.mobile-match-teams img {
    /*width: 16px;*/
    padding: 0;
}

.mobile-match-stats p {
    display: block;
}


.match-victory {
    border-bottom: 4px solid #2f9644;
}

.match-defeat {
    border-bottom: 4px solid #800000;
}

/* Comparison */

.comparison-container [type="radio"]:checked,
.comparison-container [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.comparison-container [type="radio"]:checked + label,
.comparison-container [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.comparison-container [type="radio"]:checked + label:before,
.comparison-container [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    display: none;
}

.comparison-container [type="radio"]:checked + label:after,
.comparison-container [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #0a4f75;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.comparison-container [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.comparison-container [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.comparison-container [type="radio"]:checked + label {
    /*border: 1px solid blue;*/
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.5), inset 0px 0px 5px 2px rgba(0,0,0,.3);
}

.comparison-container [type="radio"]:checked + label h1,
.comparison-container [type="radio"]:checked + label p {
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.comparison-container .basic-info {
    width: 100%;
    color: #000;
}

.comparison-container label {
    width: 100%;
    padding: 20px 15px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.5), inset 1px 1px 1px rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.left-comparison-container,
.right-comparison-container {
    width: 100%;
    padding: 0 8px;
    height: 500px;
    overflow-y: scroll;
    border: 2px solid #555;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.5);
    margin-bottom: 40px;
}

.left-comparison-container h1,
.right-comparison-container h1 {
    font-size: 4vw;
}

.left-comparison-container p,
.right-comparison-contai3er p {
    font-size: 3vw;
}

/* Classes */

.active {
    font-weight: bold;
}

.highlight-drop {
    font-weight: bold;
}

.disable-click {
    pointer-events: none;
}

.fixedwait {
    position: fixed;
}

.grayscale {
    filter: grayscale(1);
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.inl {
    width: 100%;
    display: inline-block;
}

.flash {
    margin: 0;
    border-radius: 0;
    padding: 1rem;
}
.flash {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.1rem;
}

.extractor-active {
    background-color: #7f9e40;
}

.extractor-disabled {
    background-color: #ac4343;
}

.flash.success {
    background-color: #7f9e40;
    color: #f3f6ee;
}

.flash.failure {
    background-color: #ac4343;
    color: #f2e2e2;
}

i[data-close] {
    margin: 1rem;
    color: #fff;
    cursor: default;
    cursor: pointer;
}


/* Media Queries */

@media (min-width: 789px) {

    .navbar {
        margin-top: 10px;
    }


    .brand-logo a {
        padding-left: 0;
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }

    .navbar {
        float: right;
    }

    .brand-logo,
    .navbar li {
        float: left;
    }

    .navbar {
        padding: auto 0;
    }

    .inln.settings {
        width: auto;
        display: inline-block;
    }

    .search-not-found img {
        width: 40%;
        padding: 0 3%;
        display: inline-block;
        margin: 0;
        float: left;
    }

    .search-not-found p {
        width: 59%;
        font-size: 1.5em;
        margin: 50px 0;
        text-align: left;
        display: inline-block;
        float: right;
    }

    img.member-logo {
        width: 40px;
    }


    .basic-info .profile-icon {
        min-width: 134px;
        width: 40%;
    }

    .basic-info h1 {
        font-size: 2em;
    }

    .basic-info P {
        font-size: 1em;
    }

    /* Summoner page */
    .ranked-info {
        text-align: left;
    }

    .ranked-info img {
        float: right;
        text-align: right;
    }

    /* Leaderboard */
    .leaderboard-title {
        font-size: 2em;
    }

    .drop-button {

    }

    .dropdown-list {
    }

    /* Profile info */
    .match-basic-data {
        margin-bottom: 6px;
        font-size: 1em;
    }

    .profile-matches-title {
        clear: both;
    }

    .profile-matches h1 {
        font-size: 1.8em;
    }

    #profile-name {
        font-size: 2em;
    }

    #profile-level {
        font-size: 1em;
    }

    #profile-level, #profile-name {
        padding: 0 0 0 30px;
    }

    #lanesGraphContainer {
        width: 90%;
        margin: 20px 20px;
    }

    #lanesGraphContainer div:nth-child(1), #lanesGraphContainer div:nth-child(2) {
        width: 48%;
        float: left;
    }

    #lanesGraphContainer div:nth-child(2) {
        float: right;
    }

    #lanesGraphContainer div:nth-child(3) {
        clear: both;
    }

    .champion-icon {
        width: 100%;
        float: left;
        margin-bottom: 4px;
        border-radius: 5px;
    }

    .s-spell-1, .s-spell-2 {
        border-radius: 50%;
        padding-right: 2px;
        width: 50%;
        float: left;
        clear: left;
    }

    .s-spell-2 {
        padding-left: 2px;
        clear: right;
    }

    .mobile-match-teams, .mobile-match-stats {
        display: none;
    }

    .match-teams, .match-stats {
        display: table-cell;
        vertical-align: middle;
    }

    .summoner-kda, .match-stats {
        font-size: 0.8em;
    }

    .summoner-kda p, .match-stats p {
        display: block;
        text-align: center;
    }

    .summoner-champion {
        width: 10%;
    }

    .summoner-kda, .match-stats {
        width: 15%;
    }

    .summoner-items {
        width: 25%;;
    }

    .match-teams {
        width: 35%;
    }

    .match-teams tbody tr td:nth-child(even) {
        width: 40%;
        font-size: 1vw;
    }

    .match-teams tbody tr td:nth-child(odd) {
        width: 10%;
    }

    .match-teams img {
        min-width: 30px;
    }

    .summoner-second-row {
        border-bottom: none;
    }

    /* Comparison */
    .left-comparison-container h1,
    .right-comparison-container h1 {
        font-size: 2em;
    }

    .left-comparison-container p,
    .right-comparison-contai3er p {
        font-size: 1em;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 1150px;
    }

    .input-field input {
        width: 95%;
    }

    .basic-info {
        float: left;
        width: 60%;
    }

    .ranked-info {
        float: right;
        width: 40%;
        margin: 0;
    }

    .ranked-info h1 {
        margin-top: 0;
    }

    .ranked-info img {
        width: 40%;
        min-width: 110px;
        max-width: 160px;
    }

    /* Authentication */
    .login-container {
        width: 50%;
        max-width: 750px;
        min-width: 700px;
        margin: 0 auto;
    }

    /* Settings */

    fieldset.settings {
        width: 49%;
    }

    .inln.settings {
        width: auto;
        display: inline-block;
    }

    /* Leaderboard */
    .drop-button {
        width: 35%;
    }

    .dropdown-list {
        width: 35%;
    }

    .drop-button p {
        width: 80%;
    }

    /* Profile info */
    .profile-container {
        width: 75%;
    }

    .profile-matches-title {
        text-align: left;
        padding: 5px 0 0 10px;
    }

    .profile-matches h1 {
        font-size: 2em;
        border: none;
    }

    .profile-basic-info {
        width: 40%;
        float: left;
    }

    .profile-ranked {
        width: 60%;
        float: right;
    }

    #solo-ranked-container {
        clear: left;
        float: left;
        width: 50%;
    }

    #flex-ranked-container {
        clear: right;
        float: right;
        width: 50%;
    }

    #lanesGraphContainer {
        margin: 20px auto;
    }

    #lanesGraphContainer div:nth-child(1), #lanesGraphContainer div:nth-child(2) {
        width: 40%;
    }

    #lanesGraphContainer div:nth-child(1) {
        margin-left: 5%;
    }

    #lanesGraphContainer div:nth-child(2) {
        margin-right: 5%;
    }

    #lanesGraphContainer div:nth-child(3) {
        margin: 20px 5%;
    }

    /* Comparison */
    .left-comparison-container,
    .right-comparison-container {
        width: 49%;
        float: left;
        height: 500px;
    }

    .right-comparison-container {
        float: right;
    }
}
