<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('jugadores')"></head>
<body>
<div th:replace="layout :: nav"></div>
<!--<div th:replace="layout :: searchbar"></div>-->
<div th:replace="layout :: flash"></div>
<section>
</section>
<section class="main-content">
    <div class="container">
        <div class="dropdown">
            <div class="dropdown-controls clearfix">
                <p class="leaderboard-title">Leaderboard</p>
            <button class="drop-button onClickDrop">
                <p th:text="${filterName}" class="disable-click">Inicio</p>
                <i class="material-icons disable-click">keyboard_arrow_down</i></button>
            </div>
            <div id="leaderboard-dropdown" class="dropdown-list">
                <a th:classappend="${#httpServletRequest.servletPath.equals('/leaderboard') ? 'highlight-drop' : ''}" href="/leaderboard">Inicio</a>
                <a th:classappend="${#httpServletRequest.servletPath.equals('/leaderboard/nivel') ? 'highlight-drop' : ''}" href="/leaderboard/nivel">Nivel</a>
                <a th:classappend="${#httpServletRequest.servletPath.equals('/leaderboard/victorias-ranked-solo') ? 'highlight-drop' : ''}" href="/leaderboard/victorias-ranked-solo">Victorias (Ranked Solo)</a>
                <a th:classappend="${#httpServletRequest.servletPath.equals('/leaderboard/victorias-ranked-flex') ? 'highlight-drop' : ''}" href="/leaderboard/victorias-ranked-flex">Victorias (Ranked Flex)</a>
                <a th:classappend="${#httpServletRequest.servletPath.equals('/leaderboard/rango-ranked') ? 'highlight-drop' : ''}" href="/leaderboard/rango-ranked">Rango Solo</a>
                <a th:classappend="${#httpServletRequest.servletPath.equals('/leaderboard/rango-ranked-flex') ? 'highlight-drop' : ''}" href="/leaderboard/rango-ranked-flex">Rango Flex</a>
            </div>
        </div>

        <div >
            <div th:each="jugador : ${jugadores}" class="summoner-card clearfix">
                <div class="basic-info">
                    <img th:src="@{|https://avatar.leagueoflegends.com/lan/${jugador.nombreInvocador}.png|}" alt="profile icon"/>
                    <h1 th:text="${jugador.nombreInvocador}"></h1>
                    <p th:text="|Level ${jugador.nivel}|"></p>
                    <img th:src="@{/images/member_logo.png}" alt="logo de miembro" class="member-logo"/>
                </div>
                <div class="ranked-info">
                    <img th:src="@{|/images/tier-icons/${jugador.nivelRankedSolo}_${jugador.rangoRankedSolo}.png|}" alt="ranked position"/>
                    <h1 th:text="|${T(com.jeep.lolesports.utils.Utils).firstUpperCase(jugador.nivelRankedSolo)} ${jugador.rangoRankedSolo}|"></h1>
                    <p th:text="|${T(com.jeep.lolesports.utils.Utils).prettyQueueName(jugador.tipoColaRankedSolo)} / ${jugador.puntosRankedSolo} LP|"></p>
                    <p th:text="${jugador.nombreLigaRankedSolo}"></p>
                    <p><span class="wins" th:text="|${jugador.victoriasRankedSolo} W|"></span> <span class="losses" th:text="|${jugador.derrotasRankedSolo} L|"></span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="layout :: scripts"></div>


</body>
</html>